<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="Api">
            <directory suffix="Test.php">./tests/Api</directory>
        </testsuite>
        <testsuite name="UseCase">
            <directory suffix="Test.php">./tests/UseCase</directory>
        </testsuite>
    </testsuites>
</phpunit>